<!-- <h1 class="text-center">PROFILE</h1> -->

<div class="card w-75 h-200 align-self-center" style="width: 18rem;">

  <div class="card-body">
    <div clas="d-flex justify-content-start">
      <h3 class="card-title"><%= @user.name.capitalize %></h3>
      <p class="card-text"><%=  %></p>
    </div>

    <div class="card portfolio align-self-end">

      <% if current_user.profilepicture != nil %>
    <%= cl_image_tag @user.portfolio.photo %>
    <p><%=@user.portfolio.description%></p>
    <a href="portfolio_path" class="btn btn-primary">Portfolio</a>
    <% end %>
</div>



  <div class="container">
    <div class="card p-3 m-3">
      <h2>MY OFFERS</h2>
      <ul>
        <% current_user.offers.each do |offer| %>
        <li><%= offer.title %></li>
        <% end %>
      </ul>
    </div>

    <%= link_to 'Create a new Offer', new_offer_path, :class => "btn btn-warning m-3"%>

    <div class="card p-3 m-3">
      <h2>MY BOOKINGS</h2>
      <% current_user.bookings.each do |booking| %>
        <div>
          <h3><%= booking.offer.title %></h3>
          <p>Service provider - <%= booking.offer.user.name %></p>
          <p> Start time - <%= booking.start_time %></p>
          <p> End time - <%= booking.end_time %></p>
          <p><%= (booking.end_time - booking.start_time).to_i %></p>
        </div>
      <% end %>
    </div>

    <%= link_to 'Go back to offers list', offers_path, :class => "btn btn-warning m-3"%>

  </div>






</div>

