<!-- <h1 class="text-center">PROFILE</h1> -->

<div class="container">
 <div class="row justify-content-center">
  <div class="col-12 col-lg-8">


    <div class="card p-3 m-3">

      <div class="d-flex align-items-center m-3">
        <div>
          <% if current_user.avatar_url != nil %>
          <%= cl_image_tag current_user.avatar_url, height: 100, width: 100, crop: :thumb, radius: 'max'%>
          <% else %>
          <%= image_tag "facebook-picture.jpeg" %>
          <% end %>
        </div>

        <div class="m-3">
          <h3><%= @user.name %></h3>
          <p><%=@user.portfolio.description%></p>
        </div>
      </div>

      <div class="container d-flex">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
        Edit your profile
        </button>
      </div>


      <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <%= simple_form_for (@portfolio) do |p| %>
              <%= p.file_field :photo%>
              <%= p.hidden_field :photo_cache %>
              <%= p.input :description %>
              <%= p.submit "change portfolio", class: "btn btn-primary" %>
              <% end %>



            </div>
          </div>
        </div>
      </div>



      <div class="card p-3 m-3">
        <h2>MY BOOKINGS</h2>
        <% current_user.bookings.each do |booking| %>
        <div>
          <h3><%= booking.offer.title %></h3>
          <p>Service provider - <%= booking.offer.user.name %></p>
          <p> You booked his service from - <%= booking.start_time.strftime('%m/%d/%Y') %></p>
          <p> to - <%= booking.end_time.strftime('%m/%d/%Y') %></p>
          <p><%= link_to "Cancel booking", booking_path(booking),
          method: :delete,
          data: { confirm: "Are you sure?" } %></p>
        </p>
      </div>
      <% end %>


        <div class="card p-3 m-3">
          <h2>MY OFFERS</h2>
          <ul>
            <% current_user.offers.each do |offer| %>
            <li><%= offer.title %></li>
            <p><%= link_to "Delete offer", offer_path(offer),
            method: :delete,
            data: { confirm: "Are you sure?" } %></p>
            <% end %>
          </ul>
          <%= link_to 'Create a new Offer', new_offer_path, :class => "btn btn-warning m-3"%>
        </div>

    </div>












