<h1>New Booking</h1>

<%= debug @offer %>
<%= debug @booking %>

<%= simple_form_for [@offer, @booking] do |f| %>
  <%= f.input :start_time, html5: true, as: :date%>
  <%= f.input :end_time, html5: true, as: :date%>

  <%= f.submit "Book now!", class: "btn btn-primary" %>
<% end %>
