<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "https://images.homedepot-static.com/productImages/f1e59730-23fb-4660-ad22-61fef380589a/svn/tekton-claw-hammers-30303-64_1000.jpg", class: 'profile-picture'%>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "My profile", profile_path(current_user), class: "nav-link" %>
        <li class="navbar-avatar">
          <% if current_user.avatar_url %>
          <li class="nav-item dropdown">

            <%= cl_image_tag current_user.avatar_url, :width => 50, :height => 50, :crop => "crop", :radius => "max", class: "nav-link avatar dropdown-toggle" %>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <%= link_to "Create new offer", new_offer_path, class: "dropdown-item" %>
            <%= link_to "Offers list", offers_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% else %>
           <li class="nav-item dropdown">
            <%= image_tag "https://st.depositphotos.com/1000291/3330/i/450/depositphotos_33303707-stock-photo-construction-mason-worker-bricklayer.jpg", class: "profile-picture"%>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
             <%= link_to "Create new offer", new_offer_path, class: "dropdown-item" %>
            <%= link_to "Offers list", offers_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
          <% end %>
        </li>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
