
<div class="container">
  <div class="card p-3 m-3">
    <h1>New Offer</h1>

    <%= simple_form_for [@offer] do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_field :description %>

      <%= f.submit "create a new offer", class: "btn btn-warning m-3" %>
    <% end %>
  </div>
</div>

